<div class="articles" *ngIf="articles">
  <div class="primary-articles">
    <div class="image">
      <img [src]="articles[0]?.urlToImage" />
    </div>
    <div class="article-details">
      <div class="top-title">Mustreads</div>
      <div class="title">
        {{ articles[0]?.title }}
      </div>
      <div class="desc">
        {{ articles[0]?.description }}
      </div>
      <div class="author">
        <span class="text">By</span>
        <span class="author-name">{{ articles[0]?.author }}</span>
      </div>
      <app-social-interaction
        [shareNumber]="300"
        [commentsNum]="500"
      ></app-social-interaction>
    </div>
  </div>
  <div class="secondary-articles">
    <div class="image" [routerLink]="['/home/details', 0]">
      <img [src]="articles[1]?.urlToImage" />
    </div>
    <div class="article-details">
      <div class="top-title">TECH</div>
      <div class="desc">
        {{ articles[1]?.description }}
      </div>
      <app-social-interaction
        [shareNumber]="12"
        [commentsNum]="15"
      ></app-social-interaction>
      <div class="image" style="margin-top:60px" [routerLink]="['/home/details', 1]">>
        <img [src]="articles[2]?.urlToImage" />
      </div>
      <div class="article-details">
        <div class="top-title">TECH</div>
        <div class="desc">
          {{ articles[2]?.description }}
        </div>
        <app-social-interaction
          [shareNumber]="12"
          [commentsNum]="15"
        ></app-social-interaction>
      </div>
    </div>
  </div>
</div>
