.home-page {
    margin-left: 100px;
    margin-right: 100px;
    .title {
        font-weight: bold;
        color: #252525;
        font-size: 46px;
        text-align: center;
        line-height: 20px;
        padding: 52px 0px;
    }
}